<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!-- Online using Office 365 -->
    <add name="MasterConfig"
         connectionString="RequireNewInstance=True;AuthType=Office365;Username=hicham@xrmdevops.onmicrosoft.com; Password=Juliku11;Url=https://xrmdevops.crm.dynamics.com"/>
    <add name="Integration"
         connectionString="RequireNewInstance=True;AuthType=Office365;Username=hicham@xrmdevopsit.onmicrosoft.com; Password=Juliku11;Url=https://xrmdevopsit.crm.dynamics.com"/>

    <!-- On-premises with provided user credentials -->
    <!-- <add name="Server=myserver, organization=AdventureWorksCycle, user=administrator"
         connectionString="Url=http://myserver/AdventureWorksCycle; Domain=mydomain; Username=administrator; Password=password; authtype=AD"/> -->

    <!-- On-premises using Windows integrated security -->
    <!-- <add name="Server=myserver, organization=AdventureWorksCycle"
         connectionString="Url=http://myserver/AdventureWorksCycle; authtype=AD"/> -->

    <!-- On-Premises (IFD) with claims -->
    <!--<add name="Server=litware.com, organization=contoso, user=someone@litware.com"
         connectionString="Url=https://contoso.litware.com/contoso; Username=someone@litware.com; Password=password; authtype=IFD"/>-->
  </connectionStrings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.3.35304" newVersion="3.17.3.35304" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>